<h1>Basic HTML5 Canvas</h1>
<canvas id="mindmapCanvas" width="1000" height="800">Sorry! Your browser doesn't support canvas - please upgrade your browser to use simplemindmaps!</canvas>

<!--Set up CSS to auto-size canvas in simplemindmaps-->


<script>
	//var MindMap = require('mindmap');
    var htmlCanvas = document.getElementById('mindmapCanvas'); 
    console.log(htmlCanvas);
</script>

