<!DOCTYPE html>
<html>
<head>
 	<script type="text/javascript" src="/helpers/canvas.js"></script>
    <meta charset="utf-8">
    <title>Simple Mindmaps</title>
</head>
<body> 

    {{{body}}}

</body>


</html>
